body {
	height: 100vh;
}

main {
	width: 320px;
	height: 320px;
	background: url(../images/circle.png);
	position: relative;
	top: 25vh;
	left: 40vw;
	text-align: center;
}

h1 {
	padding-top: 90px;
	font-family: Trajan Pro;
	font-size: 100px;
	font-weight: bold;
	color: #fff;
	margin-bottom: -13px;
}

h2 {
	padding-top: 10px;
	font-family: Trajan Pro;
	font-size: 17px;
	font-weight: bold;
	line-height: normal;
	color: #430400;
	
}
 
p {
	padding-top: 22px;
}

a {
	font-family: Trajan Pro;
	font-size: 15px;
	font-weight: bold;
	color: #430400;
	text-decoration: none;
	

}

a:hover { 
    text-decoration: underline;
}

